@page
@model GestorRH.App.Frontend.Pages.CrearCargosModel
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cargo | Grupo4</title>
    <link rel="stylesheet" href="~/css/estilo-formulario.css">
</head>
<body>
        <div class="wrapper">
            <div class="pestana">
                <h2>cargo</h2>
                <ul> 
                    <li><a asp-route-Super="@Model.logging.Id" asp-page="./ListaCargos"><img class="logo" src="~/img/buscarcargo.png" width="40" height="40" alt="Leer cargo">Buscar</a></li>                              
                    <li><a asp-route-Super="@Model.logging.Id" asp-page="./CrearCargos"><img class="logo" src="~/img/crearcargo.png" width="40" height="40" alt="Agregar cargo">Crear</a></li>
                    <li><a asp-route-Super="@Model.logging.Id" asp-page="./EliminarCargos"><img class="logo" src="~/img/borrarcargo.png" width="40" height="40" alt="Eliminar cargo">Borrar</a></li>
                    <li><a asp-route-Super="@Model.logging.Id" asp-page="./EditarCargos"><img class="logo" src="~/img/editarcargo.png" width="40" height="40" alt="Actualizar cargo">Editar</a></li>
                    <li><a asp-route-Super="@Model.logging.Id" asp-page="/Inicial/SuperUser"><img class="logo" src="~/img/volver.png" width="40" height="40" alt="Volver">Volver</i></a></li>
                </ul>
            </div>
            <div class="main-content">
                <div class="header">SISTEMA DE CARGOS</div>
                  <div class="info">
                            <form method="post" >
                                <div class="form-group">
                                    <input type="hidden" asp-for = "cargos.Id" />
                                    <label asp-for="cargos.NombreCargo"></label>
                                    <input asp-for="cargos.NombreCargo" class="form-control" placeholder="Ingrese el nombre del cargo">
                                    <label asp-for="cargos.Profesion"></label>
                                    <input asp-for="cargos.Profesion" class="form-control" placeholder="Ingrese la profesión requerida">
                                    <label asp-for="cargos.Salario"></label>
                                    <input asp-for="cargos.Salario" class="form-control" placeholder="Ingrese el salario correspondiente">
                                    <label asp-for="cargos.FechaIngreso"></label>
                                    <input asp-for="cargos.FechaIngreso" class="form-control" placeholder="Fecha de ingreso al cargo">
                                    <label asp-for="cargos.FechaEgreso"></label>
                                    <input asp-for="cargos.FechaEgreso" class="form-control" placeholder="Fecha de termino del cargo">
                                    
                                    <button name='Super' value="@Model.logging.Id" type="submit" class="btn btn-primary">Crear Cargo</button>
                                </div>
                            </form>
                    </div>
            </div>
</body>
</html>